@using myCoreMvc.Controllers
@using myCoreMvc.Domain;
@using PyaFramework.CoreMvc

@model User
@{ ViewBag.Title = "User Details"; }

@(Html.LinkToAction<UserListController>(nameof(UserListController.Index), "Back"))

@if (@Model != null)
{
    <h3>User details</h3>
    <br />
    <a asp-controller=@(Html.ShortNameOf<UserEnterController>()) asp-action=@nameof(UserEnterController.Index) asp-route-id=@Model.Id>Edit</a>
    <ActionWithConfirm controller-type=@typeof(UserDetailsController) method-name=@nameof(UserDetailsController.Delete) message="Delete this" item-name=@typeof(User).Name route-parameter=@Model.Id />
    <ObjectDetails object=@Model></ObjectDetails>
}
else
{
    <h5>User not found!</h5>
}
