<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title ?? "myCoreMvc")</title>
</head>
<body>
    <img src="~/StaticContent/Mushroom-Red-2.png" />
    Layout Markup Here
        @RenderBody()
    <footer>
        @RenderSection("Footer", required: false)
    </footer>
</body>
</html>
