<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title ?? "myCoreMvc")</title>
</head>
<body>
    <header>
        <img src="~/StaticContent/Mushroom-Red-2.png" />
        <a asp-controller="ListOfWorkPlans" asp-action="Index">WorkPlans</a>
        <a asp-controller="ListOfWorkItems" asp-action="Index">WorkItems</a>
    </header>

    @RenderBody()

    <footer>
        @Html.Partial("Footer")
    </footer>
</body>
</html>
