@using myCoreMvc.Controllers
@using myCoreMvc.Models;
@using PyaFramework.CoreMvc

@model WorkPlan
@{ ViewBag.Title = "WorkPlan Details"; }

@(Html.LinkToAction<ListOfWorkPlansController>(nameof(ListOfWorkPlansController.Index), "Back"))

@if (@Model != null)
{
    <h3>WorkPlan details</h3>
    <br />
    <ModelDetails tag-model="Model">
        @(Html.LinkToAction<EnterWorkPlanController>(nameof(EnterWorkPlanController.Index), "Edit", Model.Id))
    </ModelDetails>
}
else
{
    <h5>WorkPlan not found!</h5>
}
