@using System.Linq;
@using myCoreMvc.Controllers;
@using PooyasFramework

@model CookieEditorController.EnterModel
@{ ViewBag.Title = "WorkItem Details";
    var addMode = Model.Id == Guid.Empty;
}

<h2>Cookies</h2>

<table>

</table>